* {
    margin: 0;
    padding: 0;
}

/* header + nav begin */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

/* header + nav end*/

/* velcome begin */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main__velcome {
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}

main .main__velcome p {
    color: #999999;
    font-size: 20px;
}

main .main__velcome h1 {
    color: #999999;
    font-size: 44px;
}

.mycompany {
    color: #fcac45;
}

.highlighted {
    color: #ffffff;
    font-weight: bold;
}
/* velcome end */

/* wrapper begin */
.wrapper {
    width: 76%;
    margin: 0 auto;
}
/* wrapper end */

/* about begin */

main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}

.about__rigth {
    margin-left: 175px;
}

.about__rigth h1 {
    color: #222222;
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    text-transform: uppercase;
    
}

.about_us {
    color: #000;
    font-weight: 800;
    font-style: bold;
    font-family: sans-serif;
}

.about__rigth p {
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}

.about__rigth li {
    background: url(../img/mark.png) 0px no-repeat;
    padding-left: 20px;
    margin-top: 10px;
    color: #5a5a5a;
}

/* about end */

.mw-100 {
    min-width: 100%;
}

/* team begin */

.main__team {
    background: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #fff;
}

.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
}

.line {
    width: 100px;
    height: 3px;
    background: #fcac45;
    position: relative;
    margin: 0 auto;
    margin-bottom: 85px;
}

.photo {
    background: #eeeef0;
    width: 128px;
    height: 127px;
    border-radius: 50%;
    margin: 20px auto;
}

.team__cards {
    display: flex;
}

.card {
    margin: 0 40px;
}

.name {
    font-size: 20px;
    margin-bottom: 7px;
}

.position {
    font-size: 16px;
    margin-bottom: 30px;
}

.about__position {
    font-size: 14px;
}

/* team end */

.services__cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.main__services h2 {
    padding: 100px 0 30px 0;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
}

.main__services p {
    color: #6c6c6c;
    margin-bottom: 102px;
}

.services__card h4 {
    margin-top: 20px;
    margin-bottom: 15px;
}

/* services  begin */
.main__clients {
    background: #000;
    padding: 100px 0 205px 0;
    color: #fff;
    text-align: center;
}

.main__clients h2 {
    margin-bottom: 30px;
}

.main__clients img {
    margin-top: 10px;
    margin-left: 30px;
}
/* services end */

/* work begin */
.main__work  {
    text-align: center;
    padding: 100px 0 100px 0;
}

.main__work h2 {
    margin-bottom: 30px;
    color: #222222;
    /* margin-top: 100px; */
    text-transform: uppercase;
}

.main__work p {
    /* margin-top: 56px; */
    margin-bottom: 175px;
    color: #6c6c6c;
}

.main__work img:hover {
    opacity: 0.9;
}
/* work end */

/* testimonials begin */
.main__testimonials {
    background: #000;
    text-align: center;
    color: #fff;
    padding-bottom: 173px;
}

.main__testimonials h2 {
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 30px;
}

.main__testimonials .testimonials {
    text-transform: uppercase;
    margin-bottom: 49px;
    color: #e7e7e7;
    font-size: 18px;
    font-weight: 300;
}

.main__testimonials .testimonials_author {
    color: #b2b2b2;
}
/* testimonials end */

/* contact begin */

.contact__wrapper {
    width: 746px;
    margin: 0 auto;
    color: #636363;
}

.red {
    color: red;
}

.form__inputs {
    display: flex;
}

input {
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}

input:first-of-type {
    margin-right: 30px;
}

textarea {
    width: 100%;
    height: 163px;
}

input, textarea {
    border: 1px solid #999999;
    margin-top: 5px;
}

.button__block {
    display: flex;
    justify-content: flex-end;
}

input[type=submit] {
    width: 165px;
    height: 40px;
    background-color: #fcac45;
    color: #fff;
    margin-right: 0;
    margin-top: 32px;
}

.contact__form {
    padding: 100px 0 102px 0;
    
}

.contact__form h2, p {
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 30px;
} 

.contact__form h2 {
    color: #000;
    text-transform: uppercase;
}

form p {
    margin-bottom: 0;
    text-align: left;
}
/* contact end */

/* media for burger begin */
@media screen and (max-width: 1270px) {
    nav {
        margin-left: 25%;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        left: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* media for burger end */

    /* media for welcome begin */

    main .main__velcome {
        padding: 50px 0 50px 0;
    }

    main .main__velcome p {
        font-size: 14px;
    }

    main .main__velcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }
    .main__about {
        flex-direction: column;
    }
    .about__rigth {
        text-align: center;
        margin-left: 0;
    }
    .about__rigth li {
        text-align: left;
    }
    .about__rigt h1 {
        margin-top: 10px;
        font-size: 20px;
    }

    /* media for welcome end */

    /*media for team begin*/
    .team__cards {
        flex-direction: column;
    }
    /*media for team end*/

    /* media for services begin */
    .services__cards {
        grid-template-columns: auto;
    }
    /* media for services end */

    /* media for work begin */
    .line1 img:not(:first-child) {
        display: none;
    }
    .line2 img:not(:first-child) {
        display: none;
    }
    .line3 img:not(:first-child) {
        display: none;
    }
    /* media for work end */

    /* media for contact form begin */
    .contact__wrapper {
        width: 99%;
    }
    form input {
        width: 99%;
    }

    textarea {
        width: 99%;
    }
    .form__inputs {
        flex-direction: column;
    }
    input[type=submit] {
        width: 99%;
        margin: 0 auto;
    }
    /* media for contact form end */
}




